In [27]:
#Librerias a usar
import pandas as pd
import psycopg2

In [28]:
# Conexión a la base de datos PostgreSQL
conexion = psycopg2.connect(
    host="localhost",
    port="5432",
    database="CIBERPOL",
    user="postgres",
    password="password"
)
cursor = conexion.cursor()
print("Conexión establecida correctamente")

Conexión establecida correctamente

In [29]:
archivo_excel = 'Fiscalias.xlsx'
# Lee el archivo Excel con los tipos de datos especificados
df = pd.read_excel(archivo_excel, sheet_name='Nombres', engine='openpyxl')

In [30]:

df.head()

                           Ficalias
0  UNIDAD ESPECIALIZADA DE FISCALIA
1       ACTAUCIONES ADMINISTRATIVAS
2            ADMINISTRACION PUBLICA
3         ADOLESCENTES INFRACTORES
4            ANTILAVADO DE ACTIVOS

In [31]:
print(df.columns)

Index(['Ficalias'], dtype='object')

In [32]:
columnas_Fiscalias= ['Ficalias']

In [33]:
# Iterar sobre las filas del DataFrame e insertar en la base de datos
for indice, fila in df[columnas_Fiscalias].iterrows():
    # Reemplazar los 'None' o celdas vacías por NULL
    valores = tuple(None if pd.isna(valor) else valor for valor in fila)

    # Mandar a los Campos Específicos de la Tabla en PostgreSQL
    consulta = """
        INSERT INTO "Ficalia" ("N_fiscalia") VALUES (%s)
    """
    cursor.execute(consulta, valores)
    conexion.commit()  # Confirmar la transacción

In [34]:

# Cerrar el cursor y la conexión
cursor.close()
conexion.close()